<!doctype html>
<html lang="en">

<%- include('partials/head', {title}) %>

<body>
  <div id="root">
    <%- include('partials/homepage-link') %>
    <form action="/create-category" method="post">
      <h1>Create category</h1>
      <%- include('partials/text-field', { label: 'Category name' }) %>
      <%- include('partials/text-field', { label: 'Image URL' }) %>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>
