<!doctype html>
<html lang="en">

<%- include('partials/head', { title }) %>

<body>
  <div id="root">
    <%- include('partials/homepage-link') %>
    <h1><%= itemName %></h1>
    <p><%= itemDescription %></p>
  </div>
</body>

</html>
