<footer class="footer">
  <p>
    © Stebeus 2026.
    <a href="https://opensource.org/license/mit" target="_blank" rel="noopener noreferrer">
      MIT License
    </a>
  </p>
  <a href="https://github.com/stebeus" target="_blank" rel="noopener noreferrer">
    <%- include('svg-icon', { title: 'GitHub' }) %>
  </a>
</footer>
