<footer>
  <p>
    © Stebeus 2026.
    <a href="https://opensource.org/license/mit" target="_blank" rel="noopener noreferrer">
      MIT License
    </a>
  </p>
  <a href="https://github.com/stebeus" target="_blank" rel="noopener noreferrer">
    <svg width="24" height="24" color="currentColor">
      <title>GitHub</title>
      <use href="/icons.svg#github-icon" />
    </svg>
  </a>
</footer>
