<header>
  <h1>Inventory Application</h1>
  <nav>
    <ul>
      <li><a href="/create-category">Create category</a></li>
      <li><a href="/create-item">Create item</a></li>
    </ul>
  </nav>
</header>
