<header class="navbar">
  <h1 class="logo">Inventory app</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/edit-inventory">Edit inventory</a></li>
    </ul>
  </nav>
</header>
